#list  .skills{
    background-color: rgba(75, 210, 38,0.7);
    margin: 20px;
    width: 300px;
    height: 210px;
    border-radius: 20px;
}
#list{
    margin: auto;
    display: flex;
}
#list  .skills ul li{
    color: white;
    font-size: larger;
    text-transform: uppercase;

}

#list  .skills h5{
    color: rgb(92, 87, 127);
    font-size: x-large;
    font-weight: bolder;
    text-decoration: dashed underline ;
}

#list  #backend  ul, #list   #database ul{
    padding: 30px;
}

#list .skills:hover {
    background-color: rgba(21, 163, 100,0.6);
}
#list{
    display: flex;
    justify-content: center;
    align-content: center;
}