.contact__options{
    width:300px;
    height: 500px;
    border-radius:20px ;
    margin: auto;
    border: 2px solid black;
}

.contact__option{
    background-color: rgb(11, 11, 11);
    width:250px;
    height: 120px;
    border-radius:20px ;
    margin-left: 20px;
    margin-top: 30px;
}

#form{
    margin:auto;
     border: 2px solid black;
    width: 450px;
    height: 580px;
    border-radius: 50px;

}
.contact__option a{
    color:brown
}
#form input{
    width: 400px;
    height: 50px;
    border:  2px solid black;
    border-radius: 20px;
    font-size: larger;
    font-weight: bolder;
    background-color:wheat;
}
#form textarea{
    width: 400px;
    height: 200px;
    border:  2px solid black;
    border-radius: 20px;
    font-size: larger;
    font-weight: bolder;
    background-color:wheat;

}
 #send{
    background-color: black;
    color: white;
    border: none;
}
#form h4{
    color:black;
    font-size: large;
    font-weight: bolder;
    margin-left:130px;
}
#contact h2,#contact h5{
    color: black;
}
#send:hover{
    background-color: white;
    color: black
}

@media screen and (max-width: 600px) {

    .contact__option{
        width:240px;
        height: 120px;
        border-radius:17px ;
        margin-left: 15px;
        margin-top: 10px;
    }
    .contact__options{
        width:280px;
        height: 440px;
        border-radius:20px ;
  
    }
  #contact h5{
     font-size: medium;
     padding-top: 1px;
    }
    #contact #h5, #contact h2{
        margin-left: 100px;
    }

    #form input{
        width: 250px;
        height: 30px;
        border-radius: 16px;
        font-size: medium;
        font-weight: normal;

    }

    #form textarea{
        width: 250px;
        height: 80px;
        border-radius: 20px;
        font-size: medium;
        font-weight: light
    }
    #form{
    
        width: 280px;
        height: 370px;
        border-radius: 50px;
    
    }
    } 
    
    @media screen and (min-width: 768px) { 
      body {
        background-color: lavender;
      } 
    } 
  