header{
    height: 45vh; /*vh correspond to viewport height*/

    }
    .header__container{
    height: 100%;
    display: flex;
   position: absolute;
   left: 100px;
    justify-content: space-between;
    }
    .cta{
    margin-top: 2.5rem;
    display: flex; 
    gap: 1.2rem;
    justify-content: center;
}
.header__social a{
    color:black
}
.header__social{
    color: black;
display: flex;
flex-direction: column;
align-items: center;
gap:0.8rem;

}
.header__social::after{ /*the after tag help us to draw the vertical line we have
after the social icons*/
content: '';
width: 1px;
height: 2rem;
background:black;
}
.my_image{
    background-color: wheat;
    width: 28rem;
    Height:24rem;
    float: left;
    margin-bottom:30px;
    border-radius:10%;
    overflow: hidden;


    }
    .scroll__down{
    position: absolute;
    color: black;
    right: -2rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-weight: 0.9rem;
    }

    .cta #lets{
   color: white;
     background-color: black;
    border: none;
font-weight: bold;
width: 140px;
height: 55px;
font-size: x-large;
padding-top: 10px;
    }

    .cta #lets:hover{
        background-color: white;
        color: rgb(0, 0, 0);
    }

    .cta #download{
        border: 1px solid black;
        color:black;
        font-size: x-large;
    }
.header__container .leftHeader{
  margin-left: 20%;
    height: 300px;

}


  
@media only screen and (min-width: 10px) and (max-width: 640px){
    header{
        height: 90vh; /*vh correspond to viewport height*/
 
    }    
    .header__container .leftHeader{
      margin-left: 2%;
        height: 300px;
    
    }
    .cta #lets{

   width: 110px;
   height: 55px;
   font-size: medium;
   padding-top: 10px;
       }
    .cta #download{
      font-size: medium;
      padding-top: 10px;
  }
   
      .header__container{
          display: flex;
          flex-direction: column;
          position: absolute;
          left: 1px;
      
      }
      .my_image{
        width: 23rem;
        Height:21rem;
        margin-bottom:30px;
        margin-left: 1%;
        border-radius:10%;
        overflow: hidden;
    
    
        }
  } 
  
 
  @media only screen and (min-width: 639px) and (max-width: 840px){
    header{
        height: 90vh; /*vh correspond to viewport height*/
       
    }    
    
    .header__container .leftHeader{
        margin-left: 10%;
 
      }
      .header__container{
          display: flex;
          flex-direction: column;
          position: absolute;
          left: 50px;
        
      }
      .my_image{
        width: 27rem;
        Height:25rem;
        margin-bottom:30px;
        margin-left: 100px;
        border-radius:10%;
        overflow: hidden;
    
    
        }
  } 



  @media only screen and (min-width: 838px) and (max-width: 930px){
    header{
        height: 90vh; /*vh correspond to viewport height*/
 
    }    
    
    .header__container .leftHeader{
        margin-left: 23%;
 
      }
      .header__container{
          display: flex;
          flex-direction: column;
          position: absolute;
          left: 50px;
        
      }
      .my_image{
        width: 27rem;
        Height:25rem;
        margin-bottom:30px;
        margin-left: 140px;
        border-radius:10%;
        overflow: hidden;
    
    
        }
  } 




  @media only screen and (min-width: 1198px) and (max-width: 1230px){
   
    header{
        height: 50vh; /*vh correspond to viewport height*/
   
    }    
    
    .header__container .leftHeader{
        margin-left: 23%;
 
      }
      .header__container{
        display: flex;
        position: absolute;
        left: 20px;
      
    }
      .my_image{
        width: 28rem;
        Height:25rem;
        margin-bottom:30px;
        margin-right: 40px;
        border-radius:10%;
        overflow: hidden;
        margin-left: 1px;

      }}

     
  

  
      @media only screen and (min-width: 928px) and (max-width: 1060px){
  
        header{
            height: 50vh; /*vh correspond to viewport height*/
       
        }    
        
        .header__container .leftHeader{
            margin-left: 4%;
     
          }
          .header__container{
            display: flex;
            position: absolute;
            left: 20px;
          
        }
          .my_image{
            width: 24rem;
            Height:22rem;
            margin-bottom:30px;
            margin-right: 40px;
            border-radius:10%;
            overflow: hidden;
            margin-left: 1px;

          }
          
        }
        
      @media only screen and (min-width: 1058px) and (max-width: 1200px){
  
        header{
            height: 50vh; /*vh correspond to viewport height*/
  
        }    
        
        .header__container .leftHeader{
            margin-left: 15%;
     
          }
          .header__container{
            display: flex;
            position: absolute;
            left: 20px;
          
        }
          .my_image{
            width: 26rem;
            Height:24rem;
            margin-bottom:30px;
            margin-right: 40px;
            border-radius:10%;
            overflow: hidden;
            margin-left: 1px;

          }
          
        }
    