.container.testimonials__container {
    width: 40%;
    padding-bottom: 3rem;
}

.client__avatar{
    width:4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: .4rem solid var(--color-primary-variant);
}

.testimonial{
    background-color:whitesmoke;
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
    box-shadow: black;

}
#testimonial h2,#testimonial h5{
    color: black;
    font-size: large;
}
.client__review{
    color: var(--color-light);
    font-weight: 300;
    width: 80%;
    margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
    background: var(--color-primary);

}

@media only screen and (max-width:1024px) {
    .container.testimonials__container{
        width: 60%;
    }
    
}

@media only screen and (max-width: 600px) {
    .client__review{
        width: var(--container--width-sm)
    }

    .container.testimonials__container{
        width:var(--container--width-sm)
    }
}

#testify{
    margin-bottom: 120px;
    color:rgba(0, 0, 0,0.5);
    width: 110px;
    height: 50px;
    background-color: rgb(77,181,255);
    border-radius: 9px;
    font-size: large;
    transition-property: background-color;
    transition-duration:0.5s ;
    font-weight: bold;

}

#testify:hover{
    background-color: white;
}

.client__name{
    color:black
}