


.portfolioMainDiv {
    margin-top: 10px;
}
.portfolioMainDiv h6{
    font-size: small;
    font-weight: bolder;
    color:rgba(179, 174, 174,0.5);
}
.portfolioMainDiv h3{
    font-size: x-large;
    font-weight: bolder;
    color:rgba(179, 174, 174,0.9);
}
#project{
    /* background-color: rgb(143, 127, 127); */
    width: 350px;
    margin-left: 80px;
    margin-bottom: 20px;
}
#rowDiv{
    width: 100%;
}